# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
config/database.yml

# Ignore all logfiles and tempfiles.
coverage*
Guardfile
log/*
rcov.data
test/*
tmp/*

webrat-*.html
webrat.log
rspec_specs.html
